<img
  class='modal-card-poster'
  src='https://image.tmdb.org/t/p/w300/{{poster_path}}'
  alt='{{original_title}}'
/>
<article class='modal-card'>
  <h2 class='modal-card-title'>{{original_title}}</h2>
  <div class='modal-card-information'>
    <ul class='left-part'>
      <li>Vote / Votes</li>
      <li>Popularity</li>
      <li>Original Title</li>
      <li>Genre</li>
    </ul>
    <ul class='right-part'>
      <li>
        <span class='film-vote'>{{this.vote_average}}</span>
        <span class='left-part'> / </span>
        <span class='film-votes'>{{this.vote_count}}</span>
      </li>
      <li>{{this.popularity}}</li>
      <li class='film-original-title'>{{this.original_title}}</li>
      <li class='film-genres'>
        {{genres}}
      </li>
    </ul>
  </div>
  <h3 class='about-title'>About</h3>
  <p class='about-text'>{{overview}}</p>
  <div class='modal-buttons'>
    <button class='watched-button'>add to watched</button>
    <button class='queue-button'>add to queue</button>
  </div>
</article>